@media all {
@font-face {
  font-family: 'Halcom';
  src: url('https://traenaapp.io/fonts/The%20Northern%20Block%20Ltd%20-%20Halcom.otf');
}

@font-face {
  font-family: 'Halcom-bold';
  src: url('https://traenaapp.io/fonts/The%20Northern%20Block%20Ltd%20-%20Halcom%20Bold.otf');
}
}
