// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #ffffff !important;
}

.container.header {
  // background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  // background: #8a8a8a;
}

.header h4 {
  // color: $primary-color;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.button.large.email-button a {
  padding: 10px 45px 10px 45px;
  font-size: 78%;
  letter-spacing: 3px;
  font-family: 'Halcom', Helvetica,Arial,sans-serif !important;
  max-width: 200px;
  text-align: center;
}

.traena-icon img {
  display:block;
  margin:auto;
}

.traena-icon img {
  height: 40px;
}

.text-center {
  font-family: 'Halcom', Helvetica,Arial,sans-serif !important;
}
