---
subject: Auth0 Forgot Password
---

<container>
  <row>
    <columns>

      <spacer size="32"></spacer>

      <center>
        <a class="traena-icon" href="https://traena.io">
          <img src="https://traena.io/favicon.ico" alt="Traena Icon"/>
        </a>
      </center>

      <spacer size="48"></spacer>

      <h1 class="text-center">Reset Password</h1>
      <p class="text-center"><small>Click the link below to reset your password.</small></p>
      <spacer size="48"></spacer>

      <center>
        <button class="email-button large radius" href="\{{url}}">RESET PASSWORD</button>
      </center>

      <spacer size="200"></spacer>

      <p class="text-center"><small>If you did not request to have your password reset,<br /> please email us at <a href="mailto:support@traena.io">support@traena.io</a>.</small></p>
      <p class="text-center"><small>\{{environment}}</p></small>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>
